/* extra small and wider */

@media (min-width: 442px) {}

/* small and wider */

@media (min-width: 576px) {}

/* medium and wider */

@media (min-width: 768px) {
    /* dropdown menu on hover */
    .dropdown:hover>.dropdown-menu {
        display: block;
        /* width: 100%;
        height: 100%;*/
    } 

}

/* large and wider */

@media (min-width: 992px) {}

/* extra large */

@media (min-width: 1200px) {}

/* large and narrower */

@media (max-width: 1200px) {}

/* medium and narrower */

@media (max-width: 992px) {
    .carousel-item img {
        height: 400px;
    }
    #main_news img {
        max-height: 400px;
    }
}

/* small and narrower */

@media (max-width: 768px) {
    carousel-item img {
        height: 300px;
    }
}

/* extra small and narrower */

@media (max-width: 576px) {
    #festival-title {
        font-size: 38px !important;
    }
    .navbar-toggler {
        font-size: 10px !important;
        padding: 0.32rem 0.50rem;
    }
    .index-about-img {
        width: 75% !important;
        margin: auto;
    }
    .carousel-item img {
        height: 200px;
    }
    #main_news img {
        max-height: 200px;
    }
}

/* extra extra small */

@media (max-width: 442px) {
    #festival-title {
        font-size: 22px !important;
    }
    #recommendations {
        font-size: 1.8rem !important;
    }
}