



#main-navbar .nav-link:hover {
    background: #f8f9fa;
}

.hover-border-light:hover {
    border: 1px solid #f8f9fa;
}

.hover-border-blue:hover {
    border: 1px solid #3E97D6;
}

.btn-group-vertical a {
    align-items: flex-start !important;
}

.sponsor-img:hover {
    opacity: 0.5;
} 

